[Service]
Description=Hytale Quadlet

[Container]
ContainerName=hytale
Image=docker.io/deinfreu/hytale-server:experimental
AutoUpdate=registry
Network=default.network
PublishPort=5520:5520/udp
EnvironmentFile=%h/.config/containers/systemd/hytale.env
Volume=%h/files/hytale:/home/container
Volume=/etc/machine-id:/etc/machine-id:ro
# If running on an OS with SELinux, use these Volume declarations instead
# (Create ~/files/.secrets/machine-id yourself, using dbus-uuidgen)
#Volume=%h/files/hytale:/home/container:z
#Volume=%h/files/.secrets/machine-id:/etc/machine-id:z,ro

[Install]
WantedBy=default.target
